flows_danilo-HP-ProBook-450-G7.json
[{"id":"f81114ae.7ebb08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4f5d88e7.2954d8","type":"inject","z":"f81114ae.7ebb08","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":240,"wires":[["1106352d.db42eb"]]},{"id":"1106352d.db42eb","type":"http request","z":"f81114ae.7ebb08","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":240,"wires":[["ea9e81f2.0786a"]]},{"id":"ea9e81f2.0786a","type":"csv","z":"f81114ae.7ebb08","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":530,"y":240,"wires":[["1456ee3a.81bec2"]]},{"id":"68aae50c.41921c","type":"debug","z":"f81114ae.7ebb08","name":"Panic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":240,"wires":[]},{"id":"1456ee3a.81bec2","type":"switch","z":"f81114ae.7ebb08","name":"IsSeven","property":"payload.mag","propertyType":"msg","rules":[{"t":"eq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":240,"wires":[["6f42a0d5.5b7ea","c0d79d80.ec818"]]},{"id":"6f42a0d5.5b7ea","type":"change","z":"f81114ae.7ebb08","name":"PANIC","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":180,"wires":[["68aae50c.41921c"]]},{"id":"c0d79d80.ec818","type":"debug","z":"f81114ae.7ebb08","name":"Normal","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":300,"wires":[]}]